.modal-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.modal-wrapper .title {
    font-family: "Gyeonggi-Title";
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.modal-wrapper .info {
    color: black;
    font-family: "Gyeonggi-Title";
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
}

.modal-wrapper .content {
    color: black;
    font-family: "Gyeonggi-Batang";
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal-wrapper .content img {
    margin-top: 5px;
    margin-bottom: 20px;
}

.modal-wrapper .closeBtn {
    height: 40px;
    padding: 10px 40px;
    margin: 10px auto 0;
    margin-bottom: 20px;
    display: block;
    background-size: cover;
}
